{% extends "base.html" %}

{% block body %}
    <h1>Tirian Trains Administrative Dashboard</h1>
    <hr>
    <h3>All Trains</h3>
    <a href='/addtrain'>Add Train</a>
    {% if trains %}
        <h4>Trains Recorded in the Database</h4>
        <table border="2">
            <tr>
                <th>Train ID</th>
                <th>Train Series</th>
                <th>Max Speed</th>
                <th>Detail Page</th>
            </tr>
            {% for train in trains %}
                <tr align="center">
                    <td>{{ train[0] }}</td>
                    <td>{{ train[1] }}</td>
                    <td>{{ train[2] }}</td>
                    <td><a href="{{ url_for('train_detail', train_id=train[0]) }}">View Details</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h4>There are no trains recorded yet in the database.</h4>
    {% endif %}

    <hr>
    <h3>All Crews</h3>
    <a href='/addcrew'>Add Crew</a>

    {% if crews %}
        <h4>Crews Recorded in the Database</h4>
        <table border="2">
            <tr>
                <th>Crew ID</th>
                <th>Crew Head</th>
            </tr>
            {% for crew in crews %}
                <tr align="center">
                    <td>{{ crew[0] }}</td>
                    <td>{{ crew[1] }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h4>There are no crews recorded yet in the database.</h4>
    {% endif %}
    
    <hr>
    <h3>All Stations</h3>
    {# <a href="/add_station">Add Station</a> #}

    {% if stations %}
        <h4>Stations in the Database</h4>
        <table border="2">
            <tr>
                <th>Station ID</th>
                <th>Station Name</th>
                <th>Station Type</th>
            </tr>
            {% for station in stations %}
                <tr align="center">
                    <td>{{ station[0] }}</td>
                    <td>{{ station[1] }}</td>
                    <td>{{ station[2] }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h4>There are no stations recorded yet in the database.</h4>
    {% endif %}
    
    <hr>
    <h3>All Local Routes</h3>
    {# <a href="{{ url_for('add_route', route_type='local') }}">Add Local Route</a> #}
    
    {% if local_routes %}
        <h4>Local Routes in the Database</h4>
        <table border="2">
            <tr>
                <th>Route ID</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Duration</th>
                <th>Cost (in gold coins)</th>
            </tr>
            {% for local_route in local_routes %}
                <tr align="center">
                    <td>{{ local_route[0] }}</td>
                    <td>{{ local_route[1] }}</td>
                    <td>{{ local_route[2] }}</td>
                    <td>{{ local_route[3] }}</td>
                    <td>{{ local_route[4] }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h4>There are no local routes recorded yet in the database.</h4>
    {% endif %}
    
    <hr>
    <h3>All Inter-town Routes</h3>
    {# <a href="{{ url_for('add_route', route_type='inter-town') }}">Add Inter-town Route</a> #}

    {% if intertown_routes %}
        <h4>Inter-town Routes in the Database</h4>
        <table border="2">
            <tr>
                <th>Route ID</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Duration</th>
                <th>Cost (in gold coins)</th>
            </tr>
            {% for intertown_route in intertown_routes %}
                <tr align="center">
                    <td>{{ intertown_route[0] }}</td>
                    <td>{{ intertown_route[1] }}</td>
                    <td>{{ intertown_route[2] }}</td>
                    <td>{{ intertown_route[3] }}</td>
                    <td>{{ intertown_route[4] }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h4>There are no local routes recorded yet in the database.</h4>
    {% endif %}
    
    <hr>
    <h3>All Local Trips</h3>
    {# <a href="{{ url_for('add_trip', trip_type='local') }}">Add Local Trip</a> #}
    {% if local_trips %}
        <h4>Local Trips in the Database</h4>
        <table border="2">
            <tr>
                <th>Train No.</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Departure</th>
                <th>Arrival</th>
                <th>Duration (hours, minutes)</th>
                <th>Cost (in gold coins)</th>
            </tr>
            {% for local_trip in local_trips %}
                <tr align="center">
                    <td>{{ local_trip[0] }}</td>
                    <td>{{ local_trip[1] }}</td>
                    <td>{{ local_trip[2] }}</td>
                    <td>{{ local_trip[3] }}</td>
                    <td>{{ local_trip[4] }}</td>
                    <td>{{ local_trip[5] }}</td>
                    <td>{{ local_trip[6] }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h4>There are no local trips recorded yet in the database.</h4>
    {% endif %}

    <hr>
    <h3>All Inter-town Trips</h3>
    {# <a href="{{ url_for('add_trip', trip_type='intertown') }}">Add Inter-town Trip</a> #}
    {% if intertown_trips %}
        <h4>Inter-town Trips in the Database</h4>
        <table border="2">
            <tr>
                <th>Train No.</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Departure</th>
                <th>Arrival</th>
                <th>Duration (hours, minutes, seconds)</th>
                <th>Cost (in gold coins)</th>
            </tr>
            {% for intertown_trip in intertown_trips %}
                <tr align="center">
                    <td>{{ intertown_trip[0] }}</td>
                    <td>{{ intertown_trip[1] }}</td>
                    <td>{{ intertown_trip[2] }}</td>
                    <td>{{ intertown_trip[3] }}</td>
                    <td>{{ intertown_trip[4] }}</td>
                    <td>{{ intertown_trip[5] }}</td>
                    <td>{{ intertown_trip[6] }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h4>There are no inter-town trips recorded yet in the database.</h4>
    {% endif %}

{% endblock %}