{% extends "base.html" %}

{% block body %}
    <h1>Tirian Trains Administrative Dashboard</h1>
    <hr>
    <h3>All Trains</h3>
    <a href='/addtrain'>Add Train</a>
    {% if trains %}
        <h4>Trains Recorded in the Database</h4>
        {% for train in trains%}
            <ol>
                <li><a href="{{ url_for('train_detail', train_id=train['t_id']) }}">
                    {{ train['t_id'] }} -- {{ train['t_series'] }} -- {{ train['max_speed'] }}
                </a></li>
            </ol>
        {% endfor %}
    {% else %}
        <h4>There are no trains recorded yet in the database.</h4>
    {% endif %}
{% endblock %}