@font-face {
    font-family: 'The Laker';
    src: url('../static/the_laker/The Laker.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: transform 0.3s ease;
}



body {
    font-family: 'The Laker', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: gray;
}



.container {
    display: flex;
    width: 800px;
    height: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}



.image-section {
    width: 50%;
    background-image: url('path/'); 
    background-size: cover;
    background-position: center;
}

.my-image {
    width: 100%;       
    height: auto;      
    display: block;    
    
    
}




.form-section {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
}


form {
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

form input[type="email"],
form input[type="password"],
form input[type="text"],
form input[type="date"],
form select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}

form button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

/* Links and other elements */
a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
    transform: scale(1.03)
}

/* Footer section */
footer {
    font-size: 12px;
    color: #888;
    text-align: center;
    margin-top: 20px;
}
