{% extends "base.html" %}

{% block body_class %}login-page{% endblock %}

{% block image_section %}
<div class="image-section">
    <img src="{{ url_for('static', filename='images/Thomas3.png') }}" alt="TirianTrains" class="my-image">
</div>
{% endblock %}

{% block body %}
    <center><h1>Tirian Trains</h1></center> <br><br>
    <h2>Log In</h2>

    <form action="/login" method="post">
        <label for="email">Email:</label>
        <input type="email" name="email" required>
        <br>

        <label for="passkey">Password:</label>
        <input type="password" name="passkey" required>
        <br>

        <button type="submit">Log In</button>
        <button onclick="location.href='/register'">Register</button>
    </form>
    <h3>Don't have an account yet?</h3>
    <a href='/register'>Register</a>
{% endblock %}
