{% extends "base.html" %}

{% block body_class %}register-page{% endblock %}

{% block image_section %}
<div class="image-section">
    <img src="{{ url_for('static', filename='images/LoginRegisterTrain.jpg') }}" alt="TirianTrains" class="my-image">
</div>
{% endblock %}

{% block body %}

    <center><h1>Tirian Trains</h1></center> <br><br>
            <h2>Register</h2>


    <form action="/register" method="post">
        <label for="email">Email:</label>
        <input type="email" name="email" required>
        

        <label for="passkey">Password:</label>
        <input type="password" name="passkey" required>
        

        <label for="lname">Last Name:</label>
        <input type="text" name="lname" required>
        

        <label for="fname">First Name:</label>
        <input type="text" name="fname" required>
        

        <label for="middle_initial">Middle Initial:</label>
        <input type="text" name="middle_initial" required>
        

        <label for="birth_date">Birth Date:</label>
        <input type="date" name="birth_date" required>
        

        <label for="sex">Sex:</label>
        <select name="sex" required>
            <option value="" disabled selected>Select</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select>

        <label for="user_role">User Level:</label>
        <select name="user_role" required>
            <option value="" disabled selected>Select</option>
            <option value="P">Customer</option>
            <option value="A">Administrator</option>
        </select>

        <button type="submit">Register</button>
    </form>

    <h3>Already have an account?</h3>
    <a href='/login'>Log In</a>
{% endblock %}
